#logo {
  color: #f8f8f9;
  font-size: 34px;
}
.about-medium {
  font-size: 30px;
  line-height: 40px;
}
.about-small {
  font-size: 20px;
  line-height: 30px;
}
.blog-post .lead-image .placeholder {
  width: 740px;
  height: 80px;
}
