html {
  box-sizing: border-box;
  font-family: Lato;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* center items */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  display: inline-block;
}
