---
layout: default
---

<div class="row">
  <div class="col-md-8 blog-main">
      {{ content }}
  </div>
  <aside class="col-md-4 blog-aside">
      <div class="aside-widget">
          <header>
              <h3>Tags</h3>
          </header>
          <div class="body clearfix">
              <ul class="tags">
                  {% for category in site.categories %}
                    <li>{% categorylink category[0] %}{{ category[0] }}{% endcategorylink %}</li>
                  {% endfor %}
              </ul>
          </div>
      </div>
  </aside>
</div>
