---
layout: blog-sidebar
---

<article class="blog-post">
    <header>
        <h1>{{ page.title }}</h1>
        <div class="lead-image">
            <div class="placeholder"></div>
            <div class="meta clearfix">
                <div class="date">
                    <i class="fa fa-calendar"></i>
                    <span class="data">{{ page.date | date_to_string }}</span>
                </div>
            </div>
        </div>

        <p>
            [
                {% for category in page.categories %}
                    {% categorylink category %}{{ category }}{% endcategorylink %}
                    {% unless forloop.last %}, {% endunless %}
                {% endfor %}
            ]
        </p>
    </header>
    <div class="body">
        {{ content }}
    </div>
</article>
